<html>
    <head>
        <title>crabra's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">crabra's Blog</a></h1>
        </div>

        <div>
            <p>published: 23.05.2014, 9:26</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first test post.</p>
        </div>

        <div>
            <p>published: 23.05.2014, 9:26</p>
            <h2><a href="">My second post</a></h2>
            <p>Another test post.</p>
        </div>
    </body>
</html>